.modal-backdrop.show {
	opacity: .8;
}

.modal-header .close {
	margin: 0;
	padding: 0;
    position: absolute;
    bottom: 100%;
    left: 100%;
    color: white;
    opacity: 1;
    text-shadow: none;
}

.modal-header {
	border-bottom: none;
	padding-bottom: 0;
}

.modal-body {
	padding-top: none;
}

.modal-title--custom {
	font-weight: bold;
}

/* clobber vendor-provided styles with this ID */
#email-opt-in .at-form-submit .at-submit {
	margin: 0;
	background-color: #085A0A;
	border-radius: 80px;
}